releases/*
source/*.tar.gz
source/encompass-*
source/Encompass-*
.present
contrib/encompass-release/repo/*
*.pyc
*.pyd
*.swp
*.so
*.dylib
*.pyd
gui/qt/icons_rc.py
contrib/encompass-release/repo/
contrib/encompass-release/source/Encompas-*
contrib/encompass-release/source/encompas-*
contrib/encompass-release/ltc_scrypt-1.0/
contrib/encompass-release/ltc_scrypt-1.0*
*.pydev*
1
