slowaes==0.1a1
ecdsa==0.13
pbkdf2==1.3
requests==2.5.1
pyasn1-modules==0.0.5
pyasn1==0.1.7
qrcode==5.1
SocksiPy-branch==1.01
tlslite==0.4.8
hidapi>=0.7.99
protobuf==2.5.0
mnemonic>=0.8
#ltc_scrypt==1.0
#git+https://github.com/guruvan/darkcoin_hash#egg=darkcoin_hash
git+https://github.com/mazaclub/python-trezor#egg=trezor
#coinhash==1.1.2
git+https://github.com/mazaclub/coinhash#egg=coinhash

