QDialog, QStatusBar, #plugins_area, #chains_area,
#main_window, #send_tab, #receive_tab, #console_tab,
#qr_window
{
  background-color: #333;
}

#console_tab
{
  color: #4CD93F;
}

QTextEdit, QPlainTextEdit
{
  background-color: #212121;
  border: 1px solid #3CA832;
  color: #4CD93F;
}

QTabWidget::pane
{
  background-color: #333;
  border: 1px solid #3CA832;
}

QTabBar::tab
{
  color: #4CD93F;
  background-color: #333;
}

QTabBar::tab:selected
{
  color: #4CD93F;
  background-color: #1D1F1D;
}

QLineEdit, QLabel, QRadioButton, QCheckBox, QSpinBox, QGroupBox, QListView
{
  color: #4CD93F;
  background-color: #333;
}

QLineEdit
{
  border: 2px groove #184F12;
  border-radius: 2px;
  padding: 2px;
}

QHeaderView::section
{
  background: #393B39;
  color: #4CD93F;
}

QTreeView, QTableView
{
  background-color: #393B39;
  selection-background-color: #279630;
  selection-color: white;
}

QTreeView::item:selected, QTreeView::branch:selected, QListView::item:selected
{
  background-color: #279630;
  color: white;
}

QMenuBar, QMenuBar::item, QMenu
{
  background-color: #393B39;
  selection-background-color: #279630;
  selection-color: white;
  color: #4CD93F;
}

QGroupBox
{
  border: 1px solid #298A25;
  border-radius: 6px;
  margin-top: 20px;
}
QGroupBox::title
{
  subcontrol-position: top center;
  subcontrol-origin: margin;
}


Item[role="text_item"], Item[role="no"],
Item[role="date"], Item[role="balance"], Item[role="address"],
Item[role="tx_count"], Item[role="amount"], Item[role="label"]
{
  color: #BFBFBF;
}

Item[role="amount_negative"]
{
  color: #E81E1E;
}

Item[role="label_default"]
{
  color: #8A8A8A;
}

Item[role="yes"]
{
  color: #4CD93F;
}
