#lite_window
{
    background-image: url(:/icons/dark_background.png);
}

#lite_address_input[readOnly=true], #lite_amount_input[readOnly=true]
{
    font: italic;
    color: gray;
}
#lite_address_input[readOnly=false], #lite_amount_input[readOnly=false]
{
    font: normal;
    color: black;
}

#lite_valid_address::indicator
{
    width: 24px;
    height: 24px;
}
#lite_valid_address::indicator:checked
{
    image: url(confirmed.png);
}
#lite_valid_address::indicator:unchecked
{
    image: url(unconfirmed.png);
}

#lite_balance_label
{
    color: white;
}

